<section class="home h-screen dark:bg-gray-900 pt-6">
    <div class="pb-6">
        <h1 class="text-5xl">Bentornato Giorgio</h1>
        <h2 class="text-3xl pt-2">Dai un occhiata ai tuoi grafici</h2>
    </div>
    <div id="mydashboard" class="grid grid-cols-10">
        <div class="col-span-5">
            <h3 class="text-2xl">Andamento del tuo patrimonio</h3>
            <p class="text-lg mb-5">I risultati sono relativi agli utimi 5 mesi</p>
            <canvas id="myChart"></canvas>
        </div>
        <div class="col-span-5">
            <h3 class="text-2xl">Rapporto entrate e uscite</h3>
            <p class="text-lg mb-5">I risultati sono relativi agli utimi 5 mesi</p>
            <canvas id="myChart2"></canvas>
        </div>
    </div>
    <app-cash-flow></app-cash-flow>
</section>
