@if (isLoading && !isError) {
<app-loader></app-loader>
} @else if (!isLoading && isError) {
<app-error-message-label [errorMessage]="errorMessage">
</app-error-message-label>
}
<section class="min-h-screen dark:bg-gray-900 mx-5">
  @if (currentUser) {
  <h1 class="text-5xl font-bold mb-6 dark:text-white mt-16 md:mt-5">
    Bentornato {{currentUser.first_name}} {{currentUser.last_name}}
  </h1>
  }
  <div class="mt-10">
    <div id="mydashboard" class="w-full gap-8 mt-4">
      <section class="mt-4">
        <h2 class="text-3xl font-bold mb-4 dark:text-white">Patrimonio totale: {{totalMoney}} €</h2>
        <h3 class="text-2xl font-semibold mb-2 dark:text-white">Composizione del tuo patrimonio in tempo reale</h3>
        @if(datasBilancioValue.length == 0){
          <app-error-message-label [errorMessage]="'Devi inserire almeno un conto, per farlo dal menu recati nella voce <u>revione conti</u> e poi <u>aggiungi conto<u/>'"></app-error-message-label>
        }
        @else {
        <app-dashboard type="patrimonio" [datas]="datasBilancioValue" [labels]="datasBilancioLabelX">
        </app-dashboard>
        }
      </section>
    </div>
  </div>
</section>