@if (isLoading && !isError) {
<app-loader></app-loader>
} @else if (!isLoading && isError) {
<app-error-message-label [errorMessage]="errorMessage">
</app-error-message-label>
}
<section class="min-h-screen dark:bg-gray-900 mx-5">
  @if (currentUser) {
  <h1 class="text-5xl font-bold mb-6 dark:text-white mt-16 md:mt-5">
    Bentornato {{currentUser.first_name}} {{currentUser.last_name}}
  </h1>
  }
  <div class="mt-10">
    <h2 class="text-3xl font-bold mb-4 dark:text-white">Dai un’occhiata ai tuoi grafici</h2>
    <div id="mydashboard" class="w-full gap-8 mt-4">
      <section>
        <h3 class="text-2xl font-semibold mb-2 dark:text-white">Andamento del tuo patrimonio</h3>
        <app-dashboard type="patrimonio" [datas]="datasBilancioValue" [label]="datasBilancioLabelX"
          description="Patrimonio mensile">
        </app-dashboard>
      </section>

      <section>
        <h3 class="text-2xl font-semibold mb-2 dark:text-white">Rapporto entrate e uscite</h3>
        <app-dashboard type="rapporto" [datas]="datasFlowValue" [label]="datasFlowLabelX" description="Rapporto">
        </app-dashboard>
      </section>
    </div>
  </div>
</section>