@if (isLoading && !isError) {
<app-loader></app-loader>
} @else if (!isLoading && isError) {
<app-error-message-label [errorMessage]="errorMessage">
</app-error-message-label>
} @else if(!isLoading && !isError){
<section class="min-h-screen dark:bg-gray-900 mx-5">
  <h1 class="text-5xl font-bold mb-6 dark:text-white mt-16 md:mt-5">Dati del profilo</h1>

  <div class="my-10">
    <!-- dati anagrafici -->
    <h2 class="text-xl font-medium text-gray-800 dark:text-white mb-4 mt-4">Informazioni Utente</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      <div>
        <span class="block text-sm text-gray-500 dark:text-gray-400">Nome</span>
        @if (!isEdit) {
        <p class="text-lg text-gray-900 dark:text-white">{{currentUser.first_name}}</p>
        }
        @else {
        <input [(ngModel)]="currentUser.first_name"
          class="w-full mt-2 appearance-none px-4 py-3 pr-10 rounded-lg text-sm border border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-800 text-gray-900 dark:text-white shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition duration-200 ease-in-out ng-untouched ng-pristine ng-valid">
        }
      </div>
      <div>
        <span class="block text-sm text-gray-500 dark:text-gray-400">Cognome</span>
        @if (!isEdit) {
        <p class="text-lg text-gray-900 dark:text-white">{{currentUser.last_name}}</p>
        }
        @else {
        <input [(ngModel)]="currentUser.last_name"
          class="w-full mt-2 appearance-none px-4 py-3 pr-10 rounded-lg text-sm border border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-800 text-gray-900 dark:text-white shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition duration-200 ease-in-out ng-untouched ng-pristine ng-valid">
        }
      </div>
      <div>
        <span class="block text-sm text-gray-500 dark:text-gray-400">Email principale</span>
        <p class="text-lg text-gray-900 dark:text-white"></p>
      </div>
    </div>

    <!-- conti -->
    <h2 class="text-xl font-medium text-gray-800 dark:text-white mb-4 mt-4">I tuoi conti</h2>

    <app-bank-list [currentUser]="currentUser" [isEdit]="isEdit"></app-bank-list>

    <!-- CTA -->
    @if (!isEdit) {
    <app-button [actionArrowFunction]="goToEdit" [buttonBackgroundColor]="'blue'" [buttonIconSVG]="editIconSVG"
      [buttonText]="'Modifica'"></app-button>

    <app-button [actionArrowFunction]="goToDelete" [buttonBackgroundColor]="'red'" [buttonIconSVG]="trashIconSVG"
      [buttonText]="'Elimina'"></app-button>

    } @else {
    <app-button [actionArrowFunction]="goToSave" [buttonBackgroundColor]="'green'" [buttonIconSVG]="checkIconSVG"
      [buttonText]="'Salva'"></app-button>
    }
  </div>
</section>
}

@if (isShowModal) {
<app-modal [title]="'Attenzione: stai per eliminare il tuo utente'"
  [text]="'Tutti i tuoi dati saranno eliminati, procedere?'" 
  [type]="IconsSVGEnum.warning" 
  [action]="onConfirmDelete"
  [back]="onCloseModal">
</app-modal>
}