<section id="home" class="h-screen ">
    <h1 class="text-5xl mt-6 dark:text-white">Inserisci nuovo flusso</h1>
    <h2 class="text-3xl mt-2 dark:text-white">Da questa schermata puoi inserire sia uscite che entrate</h2>
    
    <div class="grid grid-cols-3 gap-10 py-8 mb-4">
        <form class="bg-white rounded dark:bg-gray-900" [formGroup]="this.bioSection" (ngSubmit)="this.ngSubmit()">
            <div class="mb-4">
                <label class="block text-gray-700 text-xl font-bold mb-2 dark:text-white" for="date">
                    Data movimento
                </label>
                <input
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    formControlName="date" id="date" type="date">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-xl font-bold mb-2 dark:text-white" for="category">
                    Categoria
                </label>
                <div class="relative" id="category">
                    <select
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        id="grid-state" formControlName="category" >
                        <option value="" disabled selected>Seleziona la categoria del flusso</option>
                        <option>Entrata</option>
                        <option>Uscita</option>
                    </select>
                </div>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-xl font-bold mb-2 dark:text-white" for="nature">
                    Natura
                </label>
                <div class="relative" id="nature">
                    <select
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        id="grid-state" formControlName="nature">
                        <option value="" disabled selected>Seleziona la natura del flusso</option>
                        <option>Stipendio</option>
                        <option>Casa</option>
                    </select>
                </div>
            </div>
            
            <div class="mb-4">
                <label class="block text-gray-700 text-xl font-bold mb-2 dark:text-white" for="import">
                    Importo
                </label>
                <input
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    formControlName="import" id="import" type="number" min="0" placeholder="0" step="100">
            </div>
            <div class="flex items-center justify-between">
                <button
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full mt-2 focus:outline-none focus:shadow-outline"
                    type="submit">
                    Inserisci flusso
                </button>
            </div>
        </form>
        <div class="col-span-2">
            <h3 class="text-2xl dark:text-white"><b>A cosa serve questa schermata?</b></h3>
            <p class="text-xl dark:text-white">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque excepturi qui exercitationem reiciendis, minus adipisci voluptates quis labore asperiores quod voluptate temporibus distinctio officia itaque, maiores nisi soluta neque earum.
            </p>
        </div>
    </div>

    <app-modal *ngIf="this.insert == 'succed'" title="Flusso aggiunto" text="Il flusso è stato inserito correttamente" redirect="/dashboard"></app-modal>
    <app-modal *ngIf="this.insert == 'fail'" title="Flusso non aggiunto" text="Si è verificato un errore" redirect="/dashboard"></app-modal>
</section>