@if (isLoading && !isError) {
<app-loader></app-loader>
} @else if (!isLoading && isError) {
<app-error-message-label [errorMessage]="errorMessage">
</app-error-message-label>
}
<section class="min-h-screen dark:bg-gray-900 mx-5">
  <h1 class="text-5xl font-bold mb-6 dark:text-white mt-16 md:mt-5">Aggiungi operazione</h1>
  <div class="grid grid-cols-3 gap-4">
    <div>
      <span class="block text-sm text-gray-500 dark:text-gray-400">Descrizione</span>
      <input [(ngModel)]="newOperation.description" type="text"
        class="w-full mt-2 appearance-none px-4 py-3 pr-10 rounded-lg text-sm border border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-800 text-gray-900 dark:text-white shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition duration-200 ease-in-out ng-untouched ng-pristine ng-valid">
    </div>
    <div>
      <span class="block text-sm text-gray-500 dark:text-gray-400">Conto dell'operazione</span>
      <select id="type" [(ngModel)]="bankAccountUuid" name="type"
          class="w-full mt-2 appearance-none px-4 py-3 pr-10 rounded-lg text-sm border border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-800 text-gray-900 dark:text-white shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition duration-200 ease-in-out">

          @for(option of allBankAccounts; track $index){
          <option [value]="option">
              {{ option.name }} - {{ option.type }}
          </option>
          }
      </select>  
    </div>
    <div>
      <span class="block text-sm text-gray-500 dark:text-gray-400">Ammontare dell'operazione</span>
      <input [(ngModel)]="newOperation.amount" type="number" min="0"
        class="w-full mt-2 appearance-none px-4 py-3 pr-10 rounded-lg text-sm border border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-800 text-gray-900 dark:text-white shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition duration-200 ease-in-out ng-untouched ng-pristine ng-valid">
    </div>
    <div>
      <span class="block text-sm text-gray-500 dark:text-gray-400">Data dell'operazione</span>
      <input [(ngModel)]="newOperation.date" type="date"
        class="w-full mt-2 appearance-none px-4 py-3 pr-10 rounded-lg text-sm border border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-800 text-gray-900 dark:text-white shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition duration-200 ease-in-out ng-untouched ng-pristine ng-valid">
    </div>
    <div>
      <span class="block text-sm text-gray-500 dark:text-gray-400">Tipo di operazione</span>
      <select id="type" [(ngModel)]="newOperation.category" name="type"
            class="w-full mt-2 appearance-none px-4 py-3 pr-10 rounded-lg text-sm border border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-800 text-gray-900 dark:text-white shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition duration-200 ease-in-out ng-untouched ng-pristine ng-valid">
            @for (type of operationTypeService.getTypes(); track $index) {
              <option [value]="type">{{ type }}</option>
            }
      </select>
    </div>
  </div>
  <div class="mt-5 flex">
    <app-button
    [actionArrowFunction]="addNewOperation"
    [buttonBackgroundColor]="'green'"
    [buttonIconSVG]='checkIconSVG'
    [buttonText]="'Salva'"
    ></app-button>

    <app-button
    [actionArrowFunction]="clearForm"
    [buttonBackgroundColor]="'yellow'"
    [buttonIconSVG]='trashIconSVG'
    [buttonText]="'Pulisci Form'"
    ></app-button>
  </div>
</section>