@if (isLoading && !isError) {
  <app-loader></app-loader>
} @else if (!isLoading && isError) {
  <app-error-message-label
    [errorMessage]="'errore durante il caricamento della pagina'">
  </app-error-message-label>
} 
<section class="min-h-screen dark:bg-gray-900 mx-5">
  <h1 class="text-5xl font-bold mb-6 dark:text-white mt-16 md:mt-5">Aggiungi operazione</h1>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum quas itaque sapiente qui ipsum nostrum sit enim architecto rerum voluptas? Porro hic commodi laborum assumenda ratione quod eum delectus pariatur?</p>
  <div>
      
  </div>
</section>

