<section class="">
    <h2 class="text-3xl mt-5 mb-2 dark:text-white"><b>Movimenti mensili</b></h2>
    <form class="bg-white dark:bg-gray-900 rounded" [formGroup]="this.dateSection" (ngSubmit)="this.ngSubmit()">
        <div class="my-8 flex flex-row">
            <input
                class="shadow appearance-none border rounded w-80 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline space-x-10"
                formControlName="date" id="date" type="date">
            <div class="ml-5">
                <button
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    type="submit">
                    Cerca
                </button>
            </div>
        </div>
    </form>
    <div class="mt-8" *ngIf="this.datasIn">
        <h1 class="mb-2 text-2xl dark:text-white"><b>Lista delle Entrate</b></h1>
        <div class="mb-2 dark:text-white">Lista delle entrate del mese selezionato</div>
        <app-table [titles]="this.titles" [datas]="this.datasIn" [type]="'cashFlow'" [onModify]="onUpdateFlow" [onDelete]="onDeleteFlow"></app-table>
    </div>
    <div class="mt-8" *ngIf="this.datasOut">
        <h1 class="mb-2 text-2xl dark:text-white"><b>Lista delle Uscite</b></h1>
        <div class="mb-2 dark:text-white">Lista delle uscite del mese selezionato</div>
        <app-table [titles]="this.titles" [datas]="this.datasOut" [type]="'cashFlow'"></app-table>
    </div>
</section>