<div class="h-screen">
    <h1 class="text-5xl mt-6 dark:text-white">Revisione flussi</h1>
    <h2 class="text-3xl mt-2 dark:text-white">Da questa schermata puoi visualizzare l'evoluzione della tua situazione finanziaria</h2>
    
    <div id="mydashboard" class="w-full grid grid-cols-2 gap-10 mt-10">
        <div class="mt-2">
            <app-dashboard [type]="'conti'"></app-dashboard>
        </div>
        <div>
            <h3 class="text-2xl dark:text-white my-2"><b>Evoluzione della tua ricchezza</b></h3>
            <p class="text-xl dark:text-white">
                Il grafico qui in parte rappresenta la crescita (o diminuzione) del tuo patrimonio in vari periodi di tempo. I dati visualizzati possono essere personalizzati in base a diversi intervalli temporali, come settimanali, mensili, trimestrali o annuali, per fornirti una visione dettagliata e personalizzata della tua situazione finanziaria.
            </p>
        </div>
    </div>
</div>