<div class="h-screen" *ngIf="!this.isLoadingBalance">
    <h1 class="text-5xl mt-6 dark:text-white">Revisione flussi</h1>
    <h2 class="text-3xl mt-2 dark:text-white">Da questa schermata puoi visualizzare l'evoluzione della tua situazione finanziaria</h2>
    
    <div id="mydashboard" class="w-full">
        <div class="mt-2">
            <app-dashboard [type]="'patrimonio'" [datas]="this.datasBilancioValue" [label]="this.datasBilancioLabelX" [description]="'Rapporto'"></app-dashboard>
        </div>
    </div>
</div>