<div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between mt-2">
    <div>
        <p class="text-sm text-gray-700">
            Pagina
            <span class="font-medium">{{currentPage}}</span>
            di
            <span class="font-medium">{{totalPages}}</span>
        </p>
    </div>
    <div>
        <nav aria-label="Pagination" class="isolate inline-flex -space-x-px rounded-md shadow-xs gap-1">
            <button [disabled]="currentPage == 1" (click)="modifyCurrentPage(-1)"
                class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 inset-ring inset-ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
                <span class="sr-only">Previous</span>
                <div [innerHTML]="iconsSVGService.getMapIcons(IconsSVGEnum.arrowLeft)"></div>
            </button>

            @for (page of createArrayFromPages(); track $index) {
            <p (click)="loadNewElementsFunction(page)"
                [ngClass]="page == currentPage ? 'bg-blue-600 focus-visible:outline-blue-600' : 'bg-gray-600 focus-visible:outline-gray-600'"
                class=" relative z-10 inline-flex items-center px-4 py-2 text-sm font-semibold text-white focus:z-20 focus-visible:outline-2 focus-visible:outline-offset-2 ">
                {{page}}</p>
            }

            <button [disabled]="currentPage == createArrayFromPages().length" (click)="modifyCurrentPage(1)"
                class="relative inline-flex items-center rounded-r-md px-2 py-2 text-gray-400 inset-ring inset-ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
                <span class="sr-only">Next</span>
                <div [innerHTML]="iconsSVGService.getMapIcons(IconsSVGEnum.arrowRight)"></div>
            </button>
        </nav>
    </div>
</div>